<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!------------------------- icon-->
    <link rel="title icon" type="image/png" href="~/Content/images/nvs_logo.png">

    <!------------------------- links to styles-->
    @Styles.Render("~/Content")
    @Styles.Render("~/Content/themes")
    @Styles.Render("~/Fonts/css")

</head>
<body>

    <div class="container-fluid">
    
        @RenderBody()

    </div>
    
    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/Fonts/js")
    @Scripts.Render("~/Scripts/esm")
</body>
</html>